body{
    margin: 0 auto;
}

.container{
    position: relative;
    background: black;
    overflow: hidden;
    height: 86.2%;
    text-align: center;
    z-index: 0;
}

.container h3 {
    padding: 36px;
    font-size: 72px;
    color: mediumpurple;
    position: relative;
    z-index: 0;
}

.container span{
    padding: 36px;
    font-size: 26px;
    color: white;
    position: relative;
    z-index: 0;
    font-weight: lighter;
    font-family: Montserrat, sans-serif;
}

.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url('../img/leakycauldron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}